# === Localisation ===
d-i debian-installer/country string FR
d-i debian-installer/language string fr
d-i keyboard-configuration/xkb-keymap select us

# === Mirror Debian ===
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### APT setup
# d-i mirror/suite string testing
d-i apt-setup/use_mirror boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/firmware boolean true

# === Users ===
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password $6$niFAdm0Z.owaBGkW$wh/AarrdtYSkNloHMRNcKZbwp205XsHnKGOXhIWVx0qi95LoHIEmGEEGHZhsG4zxWsH1cxwnTjHWHBvB5Z3U.1
d-i passwd/user-fullname string cedric
d-i passwd/username string cedric
d-i passwd/user-password-crypted password $6$niFAdm0Z.owaBGkW$wh/AarrdtYSkNloHMRNcKZbwp205XsHnKGOXhIWVx0qi95LoHIEmGEEGHZhsG4zxWsH1cxwnTjHWHBvB5Z3U.1
d-i passwd/user-default-groups string sudo audio video

# === Package selection ===
d-i pkgsel/include string build-essential clang-format cmake curl firmware-linux-free firmware-linux-nonfree fzf gcc git intel-microcode just locales-all make meson ninja-build nnn nodejs npm p7zip-full pkg-config rsync silversearcher-ag sudo tmux vim vim-gtk3 wget zsh zsh-autosuggestions zsh-syntax-highlighting btop fastfetch
popularity-contest popularity-contest/participate boolean false
tasksel tasksel/first multiselect ssh-server, standard

# === Timezone ===
d-i time/zone string Europe/Paris

# === Disk partitioning (NO CONFIRM) ===
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# === GRUB ===
d-i grub-installer/only_debian boolean true

# === Finish ===
d-i finish-install/reboot_in_progress note

# === Post-install commands ===
d-i preseed/late_command string \
    in-target /usr/bin/chsh -s /usr/bin/zsh cedric \
    in-target sed -i 's/^GRUB_TIMEOUT=.*/GRUB_TIMEOUT=2/' /etc/default/grub ; \
    in-target sed -i 's/^GRUB_CMDLINE_LINUX_DEFAULT=.*/GRUB_CMDLINE_LINUX_DEFAULT=\"quiet splash\"/' /etc/default/grub ; \
    in-target update-grub
